
<h2>Log in</h2>

<div class="row"> 
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="large-5">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true %>
		</div>
	
		<div class="large-5">
			<%= f.label :password %><br />
			<%= f.password_field :password, autocomplete: "off" %>
		</div>
	</div>

		<% if devise_mapping.rememberable? -%>
			<div class="field">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
			</div>
		<% end -%>

		<div class="actions">
			<%= f.submit "Log in" %>
		</div>
	<% end %>


<%= render "users/shared/links" %>
