// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brandAvatar{
    height: 300px;
    width: 300px;
}

.brandAvatarAdmin{
    height: 150px;
    width: 150px;
}