// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brandAvatarP{
    height: 250px;
    width: 250px;
}
.brandAvatarPContri{
    height: 100px;
    width: 100px;
}
.productAvatar{
    height: 250px;
    width: 250px;
}

