<%= form_for Brand.new do |f| %>

	<div class="row">
		<div class="large-6 columns">
			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class="field">
				<%= f.label :range %>
				<%= f.text_field :range %>
			</div>

			<div class="field">
				<%= f.label :crueltly %>
				<%= f.check_box :crueltly %>
			</div>
		</div>
	
		<div class="large-6 columns">
			<div class="field">
				<%= f.label :owner %>
				<%= f.text_field :owner %>
			</div>
			<div class="field">
				<%= f.label :avatar %>
				<%= f.file_field :avatar %>
			</div>
		</div>
	</div>
		
		<div class="actions">
			<%= f.submit class:'button warning'%>
		</div>
	
<% end %>
