<br>
<h1>The Brands</h1>
<% if admin_signed_in?||current_user.role == "editor" %>
	<table>
		<thead>
			<tr>
			<th>Avatar</th>
			<th>Name</th>
			<th>Owner</th>
			<th>Range</th>
			<th>Crueltly</th>
			<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @brands.each do |brand| %>
			<tr>
				<td><%= image_tag(brand.avatar_url, class: 'brandAvatarAdmin') if brand.avatar? %> </td>
				<td><%= brand.name %></td>
				<td><%= brand.user_id ? User.find(brand.user_id).email : "Without owner" %> </td>
				<td><%= brand.range %></td>
				<td><%= brand.crueltly %></td>
				<td><%= link_to 'Show', brand,class:'button primary' %></td>
				<td><%= link_to 'Edit', edit_brand_path(brand), class:'button warning'%></td>
				<td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' },class:'button alert' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br>

	<%= link_to 'New Brand', new_brand_path,class:'button success' %>
	
<% else %>
<% @brands.each do |brand| %>
	<tr>
	<%= link_to brand do %>
		<td> <%= image_tag(brand.avatar_url, class: 'brandAvatar') if brand.avatar? %> </td>
	<% end %>
	</tr>
<% end %>

<%end%>
