<br> <br>
<div class="row">
	<div class="field large-2 columns ">
	</div>
    <div class="field large-4 columns bigima">
        <%= image_tag(@brand.avatar_url, class: 'bigima') if @brand.avatar? %>
    </div>

    <div class="field large-6 columns">

		<p id="notice"><%= notice %></p>

		<p>
		<strong>Name:</strong>
		<%= @brand.name %>
		</p>

		<p>
		<strong>Owner:</strong>
		<%= @brand.user_id ? User.find(@brand.user_id).email : "Without owner" %>
		</p>

		<p>
		<strong>Range:</strong>
		<%= @brand.range %>
		</p>

		<p>
		<strong>Crueltly:</strong>
		<%= @brand.crueltly %>
		</p>
	</div>

</div>

<div class="row Products">
	<h2>Products</h2>
	<div id="products" class="field large-12 columns">
		<%= render :partial => @brand.products.reverse %>
	</div>

	<% if admin_signed_in?||user_signed_in? %>
		<% if current_user.role == "contributor" %>

			<div id="products" class="field large-9 ">
				<h2>Add Product</h2>
				<%= form_for([@brand, Product.new], remote: true) do |f| %>
					
				<div class="field large-4 columns">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
			
				<div class="field large-2  columns">
					<%= f.label :color %>
					<%= f.text_field :color %>
				</div>

				<div class="field large-4 columns">
					<%= f.label :kind %>
					<%= f.text_field :kind %>
				</div>

				<div class="field large-2  columns">
					<%= f.label :unitprice %>
					<%= f.text_field :unitprice %>
				</div>
				
				<div class="field">
					<%= f.label :avatar %>
					<%= f.file_field :avatar %>
				</div>
				
				
				<div class="actions large-3 columns ">
					<%= f.submit 'Create Product', class:'button warning' %>
				</div>
			
			</div>
		<% end %>
	<% end %>
	
 	</div>
<% end %>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
