<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% options = options_from_collection_for_select(Brand.all, 'id', 'name')%>
    <%= select_tag("product[brand_id]", options)%>    
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>


   <div class="field">
    <%= f.label :kind %>
    <%= f.text_area :kind %>
  </div>

  <div class="field">
    <%= f.label :unitprice %>
    <%= f.text_field :unitprice %>
  </div>

  <div class="field">
			<%= f.label :avatar %>
			<%= f.file_field :avatar  %>
		</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
