
    
<% if admin_signed_in? ||current_user.role == "contributor" %> 
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Avatar</th>
            <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
            <tr>
            <td><%= product.name %></td>
            <td><%= product.color %></td>
            <td><%= product.unitprice %></td>
            <td> <%= image_tag(product.avatar_url, class: 'brandAvatarPContri') if product.avatar? %> </td>
            <td><%= link_to 'Show', product,class:'button primary' %></td>
            <td><%= link_to 'Edit', edit_product_path(product) ,class:'button warning'%></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:'button alert' %></td>
            </tr>
        </tbody>
    </table>

<% else %>
    <tr>
        <%= link_to product do %>
            <td> <%= image_tag(product.avatar_url, class: 'brandAvatarP') if product.avatar? %> </td>
        <% end %>
    </tr>
<% end %>