var new_product = $("<%= escape_javascript(render(:partial => @product)) %>").hide();
$('#products').prepend(new_product);
$('#product_<%= @product.id %>').fadeIn('slow');
$('#new_product')[0].reset();