<p id="notice"><%= notice %></p>

<h1>Their Products</h1>
<% if admin_signed_in?||current_user.role == "editor" %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Avatar</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @brand= Brand.all%>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.color %></td>
          <td><%= product.unitprice %></td>
          <td> <%= image_tag(product.avatar_url, class: 'brandAvatarPContri') if product.avatar? %> </td>
          <td><%= link_to 'Show', product,class:'button primary' %></td>
          <td><%= link_to 'Edit', edit_product_path(product),class:'button warning' %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:'button alert' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path,class:'button success' %>
	
<% else %>
 <% @products.each do |product| %>
    <tr>
    <%= link_to product do %>
      <td> <%= image_tag(product.avatar_url, class: 'brandAvatar') if product.avatar? %> </td>
    <% end %>
    </tr>
    <% end %>
<%end%>