<p id="notice"><%= notice %></p>
<div class="row">
	<div class="field large-5 columns">
	<p>
		<%= image_tag(@product.avatar_url, class: 'productAvatar') if @product.avatar? %> 
	</p>
</div>
<div class="row">
	<div class="field large-3 columns">
	<h4>
		<strong>Name:</strong>
		<%= @product.name %>
	</h4>
	<h4>
		<strong>Color:</strong>
		<%= @product.color %>
	</h4>
	<h4>
		<strong>Price:</strong>
		<%= @product.unitprice %>
	</h4>
	</div>
	<div class="field large-3 columns">
	<h4>
		<strong>Review:</strong>
		<%= @product.kind %>
	</h4>
	</div>
	<div class="field large-5 columns">
		<h5>
			<%= "#{@product.impressionist_count(:filter=>:session_hash)} views" %>
		</h5>
		<br><br>
		<h5>
			<%= link_to "Like", like_product_path(@product), method: :put,class:'button primary'  %>
			<%= link_to "Dislike", dislike_product_path(@product), method: :put,class:'button secondary'  %>
			
			</h5>
			<h6>
			Puntaje
			<%= @product.score %>
			</h6>
		
	</div>
</div>


<%= link_to 'Edit', edit_product_path(@product),class:'button warning' %> |
<%= link_to 'Back', brands_path(@brand_id) ,class:'button secondary' %>